@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

        p {
            font-size: 16px;
            margin-left:15%;
            margin-right:15%;

        }
        .margin {
            margin-bottom: 45px;
        }
        .bg-1 {
            background-color: 	#008080; /* Green */
            color: #ffffff;
        }
        .bg-2 {
            background-color: 	#F0AD4E; /* Dark Blue */
            color: #ffffff;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }


    </style>
</head>
<body>


    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Who Am I?</h3>
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAfAAAAAJDBkNWU1OWZiLTAyMjEtNDhlMi04YmQ0LTcwMzJhZjY5NzAxMQ.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
        <h3>Victoria Humphrey - Web Developer</h3>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">What Am I?</h3>
        <p>I am a Dynamic web designer and developer with advanced knowledge in HTML, CSS, Javascript,
    WordPress, ASP.net, and others. Specializes in front-end design, style development, and integration
    of web controls. 
        <br />
            <br />
        I provide my clients with clean, functional, responsive and eye-catching websites
     while assisting them to maintain updates, responsiveness, SEO, and other digital marketing
    responsibilities.</p>
    </div>




</body>