@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Victoria Humphrey</strong><br />
    Sullivan College of Technology and Design<br />
    3901 Atkinson Square Dr,<br />
    Louisville, KY 40218,<br />
    Phone: (502) 456-6509
</address>


